

<div class="task-form__container">

<h2 class="task-form__title">
    {{@formTitle}}
</h2>

<form {{on "submit" @onSubmit}} class="task-form">
    <label>Title: </label>
    <input type="text" value={{@title}} {{on "change" @onTitleChange}} />
    {{#if @titleError}}
        <span class="error">{{@titleError}}</span>
    {{/if}}

    <label>Description:</label>
    <textarea {{on "change" @onDescriptionChange}}>{{@description}}</textarea>

    {{#if @descriptionError}}
        <span class="error">{{@descriptionError}}</span>
    {{/if}}

    <label>Status:</label>
    <select value={{@status}} {{on "change" @onStatusChange}}>
        <option value="todo">Pending</option>
        <option value="in-progress">In Progress</option>
        <option value="done">Done</option>
    </select>

    <div class="task-form__button">
        <button type="submit" class="save_button">{{@submitLabel}}</button>
        {{yield}}
    </div>
    
    
</form>

</div>