


<form {{on "submit" @onSubmit}}>
    <label>Title:
        <input type="text" value={{@title}} {{on "input" @onTitleChange}} />
    </label>
    <br><br>

    <label>Description:
        <textarea {{on "input" @onDescriptionChange}}>{{@description}}</textarea>
    </label>
    <br><br>

    <label>Status:
        <select value={{@status}} {{on "change" @onStatusChange}}>
            <option value="todo">Pending</option>
            <option value="in-progress">In Progress</option>
            <option value="done">Done</option>
        </select>
    </label>
    <br><br>

    <button type="submit">{{@submitLabel}}</button>
    {{yield}}
</form>